h1{
    color: cadetblue;
}
img{
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: blueviolet;
    padding: 50px;
    border: 20px solid rgb(114, 28, 100);

}
#spanId{
    font-size: 18px;
    margin: 50px;
}